* {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;   
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.conteudo{
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

textarea, input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 2.5px solid #ccc;
    font-size: 16px;
}

button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #5e5e5e;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: #c9c9c9;
}

#resultado{
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}